/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code';
  color: #2d3336;
}
button {
  border: 2px solid #00bed8;
  background-color: #00bcd0;
  padding: 10px 15px;
  border-radius: 10px;
  display: block;
  width: 100%;
  margin: 0 5px;
  cursor: pointer;
  &:hover {
    background-color: #00bcd4;
  }
  color: #fff;
  font-size: 22px;
}
input {
  display: block;
  width: 100%;
  margin: 0px 0 10px 0;
  box-sizing: border-box;
  padding: 10px 7px;
  border: 2px solid #4d5559;
  border-radius: 7px;
  font-size: 21px;
}
h1,
h3 {
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  padding: 10px 7px;
  border-radius: 7px;
  border: 1px solid #e5e0e0;
  margin-bottom: 3px;
  vertical-align: middle;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

app-search {
  overflow: hidden;
  display: block;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
}
mat-progress-bar {
  position: absolute!important;
  top: 0;
  left: 0;
  right: 0;
}
.actions {
  margin: 20px 0;
  background-color: #fafafa;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Fira Code',
  "Helvetica Neue",
  sans-serif;
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 20px;
}
.logo {
  display: block;
  margin: -20px auto 0 auto;
}
fieldset {
  border-radius: 5px;
  border: 1px solid #e5e0e0;
}
.no-data {
  padding: 30px 10px;
  box-sizing: border-box;
  border: #ccc dashed 1px;
  border-radius: 5px;
  width: 100%;
  background-color: #fafafa;
  font-size: 11px;
  text-align: center;
  justify-content: center;
}
.error {
  color: red;
  background-color: rgb(255, 212, 212);
  padding: 10px 5px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 15px;
}
